{% extends 'client/base.html' %}

{% block content %}
<div class="mt-5 mr-96 ml-96 pt-5 container-fluid flex flex-col justify-between items-center border shadow-xl rounded-2xl">
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mt-4 mb-4 mr-96 py-4 px-8 text-lg bg-orange-500 hover:bg-orange-700 rounded-xl text-white">Next step</button>
    </form>

    {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for f in form %}
                    {{ f.errors }}
                {% endfor %}
    
                {{ form.non_field_errors }}
            </div>
    {% endif %}
</div>

{% endblock %}