{% extends 'client/base.html' %}


{% block content %}
    
<div class="mt-10 mr-96 ml-96 pt-5 container-fluid flex flex-col justify-between items-center border shadow-xl rounded-2xl">
    <form method="post" action="{% url 'client-settings' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button class="mt-5 mb-5 py-3 px-3 text-lg bg-orange-500 hover:bg-orange-700 rounded-xl text-white w-96" style="font-family: sans-serif">
            Save
        </button>
    </form>
    <a href="{% url 'password_change' %}" class="mb-5 w-96 py-3 px-3 text-lg bg-orange-500 hover:bg-orange-700 rounded-xl text-white w-96t text-center" style="font-family: sans-serif">
        Change password
    </a>
</div>

{% endblock %}
    